:root {
  --accent-3: rgb(211, 37, 37);
}

header {
  height: 90vh;
  margin-bottom: 10vh;
  padding: 0 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

header .wrapper {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .wrapper div {
  display: flex;
  flex-direction: column;
  padding: 1vh 0;
}

header .heading-wrapper {
  flex: 2;
  justify-content: center;
}

header .heading-wrapper p {
  margin: 0;
  color: var(--accent-3);
  font-size: 1.25em;
  letter-spacing: 3px;
  font-weight: bold;
}

header .heading-wrapper h1 {
  margin: 0;
  font-size: clamp(2em, 6vw, 4.5em);
  line-height: 1.25em;
}

header .para-wrapper {
  flex: 1;
  justify-content: center;
}

header .para-wrapper p {
  margin: 0;
  opacity: 0.7;
  font-size: clamp(0.7em, 2vw, 0.9em);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 80%;
}

.student-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1em;
  margin: 1vh 0;
  height: 35vh;
  background-color: var(--accent-1);
  color: var(--accent-2);
  border: 4px solid var(--accent-3);
  font-size: 1.5em;
}

.student-box .student-image {
  order: 0;
  width: 30%;
}

.student-image img {
  border-radius: 50%;
  width: 100%;
}

.student-box .student-name {
  order: 1;
}

.student-name h3 {
  margin: 0;
}

footer {
  display: flex;
  background-color: var(--accent-3);
  justify-content: center;
  margin-top: 4em;
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: row;
  }

  header {
    height: 100vh;
    flex: 1.5;
    justify-content: center;
    text-align: left;
  }

  header .wrapper {
    height: 100vh;
    width: auto;
  }

  header .wrapper div {
    flex: 1;
  }

  header .heading-wrapper {
    flex: 1;
    justify-content: flex-end;
  }

  header .para-wrapper {
    flex: 1;
    justify-content: flex-start;
  }

  header .heading-wrapper p {
    font-size: 1.5em;
    margin: 0;
  }

  header .heading-wrapper h1 {
    line-height: 1em;
  }

  header h1 {
    margin: 0;
  }

  .scroll {
    display: none;
  }

  main {
    flex: 1;
  }

  main .wrapper {
    height: 80vh;
    width: 60%;
  }

  .student-box {
    flex: 1;
    flex-direction: row;
    margin: 1vh 0;
    font-size: 1em;
    transition: flex 0.5s, font 0.5s;
  }

  .student-box:hover .student-image {
    width: 30%;
  }

  .student-box:hover {
    flex: 2;
    font-size: 1.25em;
  }

  .student-box .student-image {
    order: 1;
    width: 15%;
    transition: width 0.5s;
  }

  .student-box .student-name {
    order: 0;
  }
}
