@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");

:root {
  --accent-1: rgba(32, 33, 36, 255);
  --accent-2: rgb(255, 255, 255, 255);
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--accent-1);
  font-family: "Poppins", sans-serif;
  animation: fadeIn ease 1s;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper img {
  width: 100%;
}

.scroll {
  width: fit-content;
  border-radius: 50%;
  margin: 5vh;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.1);
}

.scroll:active {
  background-color: rgba(0, 0, 0, 0.3);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
