:root {
  --accent-3: rgb(40, 60, 173);
}

#photo-1:hover ~ .big-screen {
  background-image: url(../../images/nitish/one.jpg);
}

#photo-2:hover ~ .big-screen {
  background-image: url(../../images/nitish/two.jpg);
}

#photo-3:hover ~ .big-screen {
  background-image: url(../../images/nitish/three.jpg);
}

#photo-4:hover ~ .big-screen {
  background-image: url(../../images/nitish/four.jpg);
}
