:root {
  --accent-3: rgb(80, 201, 32);
}

#photo-1:hover ~ .big-screen {
  background-image: url(../../images/parth_r/one.jpg);
}

#photo-2:hover ~ .big-screen {
  background-image: url(../../images/parth_r/two.jpg);
}

#photo-3:hover ~ .big-screen {
  background-image: url(../../images/parth_r/three.jpg);
}

#photo-4:hover ~ .big-screen {
  background-image: url(../../images/parth_r/four.jpg);
}
