:root {
  --accent-3: rgb(231, 194, 31);
}

#photo-1:hover ~ .big-screen {
  background-image: url(../../images/parth_m/one.jpg);
}

#photo-2:hover ~ .big-screen {
  background-image: url(../../images/parth_m/two.jpg);
}

#photo-3:hover ~ .big-screen {
  background-image: url(../../images/parth_m/three.jpg);
}

#photo-4:hover ~ .big-screen {
  background-image: url(../../images/parth_m/four.jpg);
}
