:root {
  --accent-3: rgb(224, 24, 148);
}

#photo-1:hover ~ .big-screen {
  background-image: url(../../images/pratham/one.jpg);
}

#photo-2:hover ~ .big-screen {
  background-image: url(../../images/pratham/two.jpg);
}

#photo-3:hover ~ .big-screen {
  background-image: url(../../images/pratham/three.jpg);
}

#photo-4:hover ~ .big-screen {
  background-image: url(../../images/pratham/four.jpg);
}
